.container {
  max-width: 800px;
  margin: 16px auto 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.map-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: vertical;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.processButton {
  font-weight: 600;
  color: #e55c00;
  background: #fff;
  border: 2px solid #e55c00;
  border-radius: 6px;
  box-shadow: 0px 0px 0px -7px rgba(0, 0, 0, 0);
  display: block;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #e55c00;
    color: #fff;
  }
}

.error-message {
  color: #d9534f;
  font-weight: bold;
  margin-top: 20px;
}

.result {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;

  div {
    font-size: 18px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
}
